@model EventsIStockholm.Models.GalleryModel
@{
    ViewBag.Title = "Index";
}


<head>
    <title></title>
    @*<link rel="stylesheet" type="text/css" href="~/Content/normalize.css">
    <link rel="stylesheet" type="text/css" href="~/Content/demo.css">
    <link rel="stylesheet" type="text/css" href="~/Content/component.css">*@

    @*<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>*@
</head>
<h2>Här är alla Events</h2>
<div>
    @using(Ajax.BeginForm("search","Gallery",new AjaxOptions {UpdateTargetId="searchresult"}))
    {
        <div>
           <div>
            @Html.TextBoxFor(model=>model.searchtext.searchtext) </div>

            <input type="submit" value="search event" />

        </div>
   
}
  
</div>
<div id="searchresult">
    @Html.Partial("Cool", Model.GalleryEvents)
</div>
